a
  text-decoration: none
ul
  list-style: none
html 
  font-family: $font-family-gotham
.container
  overflow: hidden
  position: relative
.wrapper
  margin: 0 auto
@include desktop 
  .container 
    min-width: 1250px
  .wrapper 
    width: 1170px
@include mobile
  html 
    font-size: calc(100vw / 7.5)
  .container
    min-width: 320px
  .wrapper
    width: 100%
    padding-left: .3rem
    padding-right: .3rem