.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 9999
.nav-menu
  display: block
  text-align: right
@include desktop
  .nav-menu
    padding: 64px 15px 64px 0
@include mobile
  .nav-menu
    padding: .64rem .15rem .64rem 0